<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.financasdroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".VIEW.AtualizarLancamento"
            android:label="@string/title_activity_attLancamento"/>

        <activity android:name=".VIEW.CriarCategoria"
            android:label="@string/title_activity_criar_categoria"/>

        <activity android:name=".VIEW.DebitosMensais"
            android:label="@string/title_activity_debitos_mensais"/>

        <activity android:name=".VIEW.Grafico"
            android:label="@string/title_activity_grafico"/>

        <activity android:name=".VIEW.CreditosMensais"
            android:label="@string/title_activity_creditos_mensais"/>

        <activity android:name=".VIEW.OrcamentoFinal"
            android:label="@string/title_activity_orcamento_final"/>

        <activity android:name=".VIEW.CriarLancamento"
            android:label="@string/title_activity_criar_lancamento"/>

        <activity
            android:name=".VIEW.Lancamentos"
            android:label="@string/title_activity_lancamento"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".VIEW.Categorias"
            android:label="@string/title_activity_categoria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VIEW.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>